/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mai 2018, 12:41:19
    Author     : adminhy
*/

a{
    margin-left: 2%; 
}
p{
    margin-left: 2%; 
}
form{
    margin: 2%;
}
body{

    background-color: grey;
    margin: 5%;
}
.titreBlanc{
    text-align: center;
    color:white;
}

label{
    color:white;
}
.center{
    text-align: center;
    margin-top: 5px;
}

.droite{
    text-align: right;
    display: inline-block;
}

.gauche{
    text-align: left;
    display: inline-block;
}

.milieu{
    text-align: center;
    display: inline-block;
}

.connexion{
    text-align: right;
    font-size: 15px;
    margin-right: 1%;
    color: white;

}

.gris{
    background-color: grey;
    margin: 5px;
}

.searchButton{
    width: 35px;
    height: 35px;
    padding: 0; 
}

.evenement{
    background-color: #f8f9fa ;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

}

.evenement:hover{
    background-color: #e6e6e7 ;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

}
.search{
    border-color: #ced4da;
    background-color: grey;
    color: white;
}

.nbEvt{
    margin: 1%;
    margin-left: 10%;
    color: white;
    font-size: 25px;
}

.trash{
    margin:1%;
}

.countPart{
    font-size: 50px;
    color: black;
}

.forPart{
	font-size:20px;
	color: black;
}


.participant{
    background-color: #f8f9fa;
    margin-top: 3%;

}

.largeur {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

}

.acc{
    background-color: #e6e6e7 ;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-style: dashed ;

}

.formulaire {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;    
}


.images{
    height:70px;
    width:70px; 
}